

<div class="container" >
  <div  *ngFor="let item of noticia">
  <div class="item">
    <mat-card>
      <mat-card-header>
        <img  mat-card-avatar src="https://cdn.vox-cdn.com/thumbor/AXpCs9P5AITDD3sEdzXiZYTjmfA=/0x0:5184x3456/1200x800/filters:focal(3181x1146:4009x1974)/cdn.vox-cdn.com/uploads/chorus_image/image/65143874/AI_fiction_writing_GettyImages_1124658526.0.jpg" >

        <mat-card-title>Autor</mat-card-title>

      </mat-card-header>
      <div class="butto-news">
        <button mat-flat-button color="accent">
          Editar <span class="material-icons">create</span>
        </button>

      </div>

        <img mat-card-image [src]="item.imagem" >
        <mat-card-content>
          <p>
            {{item.titulo}}
          </p>
        </mat-card-content>

      </mat-card>
  </div>
</div>





</div>

<div class="criar">
  <button mat-fab color="warn" matTooltip="Criar Post" routerLink="/criacao-noticia">
    <mat-icon>add</mat-icon>
  </button>
</div>
