<div class="section">

  <div class="texto-boa-vindas">
    <mat-card class="card-eidt">
      <h1>Criar uma nova materia no portal <b>CPB</b> !</h1>

      <button mat-raised-button color="warn">Imagem <span class="material-icons">
        add_photo_alternate
        </span></button>

      <form class="example-form">
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Titulo</mat-label>
          <input type="text" matInput placeholder="Informe o titulo">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </form>

      <form class="example-form">
        <mat-form-field class="example-full-width" color="accent">
          <input type="text"
                 placeholder="Tema"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

    </mat-card>
  </div>

  <img src="./../../../assets/preview.png" alt="" srcset="" width="650px">

</div>
