.container {
  display: flex;
  /* justify-content: space-evenly; */
  align-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}

.example-form {
  max-width: 500px;
}

.example-full-width {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

td {
  padding-right: 8px;
  flex-wrap: wrap;
}

tr {
  flex-direction: row;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 8px 10px;
}

