.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start;
}

.formulario-dados-pessoais {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

td {
  padding-right: 8px;
  flex-wrap: wrap;
}

tr {
  flex-direction: row;
}

@media (max-width: 800px) {
  tr {
    flex-direction: column;
  }
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 8px 10px;
}

.container-input {
  display: flex;
  flex-direction: row;
}

.input-class {
  margin-right: 15px;
}

@media (max-width: 800px) {
  .container-input {
    flex-direction: column;
  }
}
