<div class="container">

<mat-card-header>
</mat-card-header>
<mat-chip-list aria-label="Fish selection">
  <mat-chip color="primary" selected>
    Dados pessoais
    <span class="material-icons">
      account_circle
    </span>
  </mat-chip>
</mat-chip-list>

<br>

<mat-card-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email (Esse é o e-email cadastrado)</mat-label>
      <input matInput disabled value="email@teste.com.br">
    </mat-form-field>

    <table class="example-full-width" >
      <tr>
        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Nome </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.nome" name="nome">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Sobrenome</mat-label>
            <input matInput [(ngModel)]="daodsPesoais.sobrenome" name="sobrenome">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Telefone </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.telefone" name="telefone">
          </mat-form-field>
        </td>
        <td>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Data de nacimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="daodsPesoais.dataNacimento" name="dataNacimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Cep </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.cep" name="cep" (change)="ValidaCep()" >
          </mat-form-field>
        </td>

        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Endereço </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.endereco" name="endereco" >
          </mat-form-field>
        </td>

      </tr>
    </table>


    <table class="example-full-width" cellspacing="0">
      <tr>

        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Cidade </mat-label>
            <input matInput  [(ngModel)]="daodsPesoais.cidade" name="cidade" >
          </mat-form-field>
        </td>
      

        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>UF </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.uf" name="uf" >
          </mat-form-field>
        </td>

      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Bairro </mat-label>
            <input matInput  [(ngModel)]="daodsPesoais.bairro" name="bairro" >
          </mat-form-field>
        </td>

        
        <td>
          <section class="example-section">
            <label class="example-margin">Genero: </label>
            <mat-radio-group [(ngModel)]="daodsPesoais.sexo" name="nivel">
                <mat-radio-button class="example-margin" value="1">Boys  🙋‍♂️ </mat-radio-button>
                <mat-radio-button class="example-margin" value="2">Girls  🙋‍♀️‍ </mat-radio-button>
            </mat-radio-group>
        </section>
        </td>

      
      </tr>
    </table>




  </form>
</mat-card-content>
  
</div>
