<div class="container">

  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" selected>
      Dados pessoais
      <span class="material-icons">
        account_circle
      </span>
    </mat-chip>
  </mat-chip-list>

  <br>

  <mat-card-content class="formulario-dados-pessoais">
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Email (Esse é o e-email cadastrado)</mat-label>
        <input matInput disabled value="email@teste.com.br">
      </mat-form-field>

      <div class="container-input">

        <div class="input-class">
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Nome </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.nome" name="nome">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Sobrenome</mat-label>
            <input matInput [(ngModel)]="daodsPesoais.sobrenome" name="sobrenome">
          </mat-form-field>
        </div>

      </div>


      <div class="container-input">

        <div class="input-class">
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Telefone </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.telefone" name="telefone">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field color="accent" appearance="outline" class="example-full-width" appearance="outline">
            <mat-label>Data de nacimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="daodsPesoais.dataNacimento" name="dataNacimento">
          </mat-form-field>
        </div>

      </div>


      <div class="container-input">

        <div class="input-class">
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Cep </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.cep" name="cep" (change)="ValidaCep()">
          </mat-form-field>
        </div>

        <div *ngIf="daodsPesoais.endereco">
          <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Endereço </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.endereco" name="endereco">
          </mat-form-field>
        </div>

      </div>

      <div class="container-input">

        <div class="input-class">
          <mat-form-field color="accent" appearance="outline" class="example-full-width" *ngIf="daodsPesoais.endereco">
            <mat-label>Cidade </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.cidade" name="cidade">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field color="accent" appearance="outline" class="example-full-width" *ngIf="daodsPesoais.endereco">
            <mat-label>UF </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.uf" name="uf">
          </mat-form-field>
        </div>

      </div>

      <div class="container-input">

        <div class="input-class">
          <mat-form-field color="accent" appearance="outline" class="example-full-width" *ngIf="daodsPesoais.endereco">
            <mat-label>Bairro </mat-label>
            <input matInput [(ngModel)]="daodsPesoais.bairro" name="bairro">
          </mat-form-field>
        </div>


      </div>




    </form>
  </mat-card-content>

</div>