.login {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.voltar-login {
  position: absolute;
  margin-top: 18px;
  margin-left: 5px;
  color: white;
  font-size: 22px;

  i {
    padding: 4px 24px 0px 0px;
  }
}

.login-card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#background {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background-color: #3227b0;
}

.body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #615e67;
    background-image: linear-gradient(to right, #201a30, #1b0f77);
}

.example-full-width{
  width: 100%;
}

.crdenciaisInvalidas {
  color: red;
  text-align: center;
}

.crdenciaisInvalidas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 12px;
  align-items: flex-start;

}

.art {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  color: white;
  z-index: 2;
  align-items: flex-start;
  font-size: 1vw;

  p {
    margin-top: 8px;
    font-weight: 100;
  }

  h1 {
    font-size: 3vw;
    line-height: 3vw;
    font-weight: 600;
  }

  a {
    color: #00fbb5;
    font-weight: 600;
  }
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #ffffff00;
  img {
    position: relative;
    left: 107px;
    top: -42px;
    z-index: 5;
  }

}
