<div id="background"></div>
<div class="login">

  <div class="login-card">
    <mat-card class="card">

      <img src="../../assets/logo.png" alt="" width="90px">

      <form >


        <mat-form-field color="accent" appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>

          <input name="email" 
          [(ngModel)]="credenciais.email"  
          type="email" 
          [formControl]="email" 
          required 
          matInput 
          placeholder="email@exemplo.com"
          >

          <mat-icon matSuffix [color]="cerdenciaisInvalidas ? 'warn' : ''">
            {{cerdenciaisInvalidas ? 'report_problem' : ' alternate_email'}}
          </mat-icon>

          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
      </form>

      <form >
        <mat-form-field color="accent" appearance="outline" class="example-full-width">
          <mat-label>Senha</mat-label>

          <input name="senha" 
          [(ngModel)]="credenciais.senha"
          type="password" 
          [formControl]="senha" 
          required 
          matInput 
          placeholder="senha"
          >

          <mat-icon matSuffix [color]="cerdenciaisInvalidas ? 'warn' : ''">
           {{cerdenciaisInvalidas ? 'report_problem' : 'vpn_key'}}
          </mat-icon>

          <mat-error *ngIf="senha.invalid">{{getErrorMessage('senha')}}</mat-error>
        </mat-form-field>
      </form>

      <div class="crdenciaisInvalidas"  *ngIf="cerdenciaisInvalidas">
      <mat-chip-list >
        <mat-chip selected color="warn">
          Email ou senha inválida 
          <mat-icon aria-hidden="false" aria-label="Example home icon">report_problem</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

      <button mat-raised-button color="accent" (click)="loggar()">Logar</button>

      <br>
      <button mat-button color="basic" (click)="navegar()" class="recuperar-senha">
          Esqueceu a senha ?
      </button>
    </mat-card>
  </div>


  <div class="art">
   <h1> Bem vindo (a) <br/>
     a Plataforma CPB </h1>

     <p>
      Essa área é destinada aos voluntários do Grupo CPB.
     </p>

     <p>
       Pera ai, você não sabe o que é o grupo CPB ?
       <a href="https://conselhodobrasil.org/sobrenos/" target="_blank"> Clique aqui e saiba mais !</a>
     </p>

     <p> Faça também o download do nosso APP nas lojas</p>

     <a href="https://play.google.com/store/apps/details?id=org.cpb.br" target="_blank">
      <img src="../../assets/mobile-store.png" width="180px" >
    </a>
  </div>
</div>
