.login {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#background {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background-color: #9c27b0;
}

.login-card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .recuperar-senha {
    cursor: pointer;
  }

  .recuperar-senha:hover {
    cursor: pointer;
    color: #00fbb5;
  }
}

.art {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  color: white;
  z-index: 2;
  align-items: flex-start;
  font-size: 1vw;

  p {
    margin-top: 8px;
    font-weight: 100;
  }

  h1 {
    font-size: 3vw;
    line-height: 3vw;
    font-weight: 600;
  }

  a {
    color: #00fbb5;
    font-weight: 600;
  }
}

.example-full-width{
  width: 100%;
}

.crdenciaisInvalidas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 12px;
  align-items: flex-start;

}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #ffffff00;
  img {
    position: relative;
    left: 107px;
    top: -42px;
    z-index: 5;
  }
  .dot {
    position: absolute;
    left: 100px;
    top: -82px;
    height: 139px;
    width: 139px;
    background-color: #69f0ae;
    border-radius: 50%;
    display: inline-block;
    border-color: #1b0f77;
    border-style: solid;
  }
}
