<ul class="navbar-nav mr-auto">

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/home']"> <i class="material-icons">home</i> Home </a>
  </li>
  <span *ngFor="let rota of rotas">


    <li class="nav-item" routerLinkActive="active" *appShowByClaim="rota.permissoesid">
      <a class="nav-link" [routerLink]="rota.rota"> <i class="material-icons">{{rota.icone}}</i> {{rota.nome}} </a>
    </li>
  </span>

  <hr>

  <li>
    <a class="nav-link" (click)="logout()"> <i class="material-icons">power_settings_new</i> Sair</a>
  </li>



</ul>