$font-color: #606060;
$backgorund-actived: #F5F7FA;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 156px;
  background-color: #ffffff00;
}

li a {
  display: block;
  color:  #F5F7FA;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

li.active > a {
  background-color: $backgorund-actived;
  color: #415BB8;
  border-radius: 7px;
}

li > a {
  text-transform: capitalize;
  color: $font-color;
  transition: background-color 0.2s, color 0.2s;
}

li a:hover {
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #556E9C;
  color: #ffffff;
  border-radius: 7px;
}

i {
  padding: 4px 12px 0px 0px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}
