ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 260px;
  background-color: #ffffff00;
}

li a {
  display: block;
  color: #00dea1;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

li.active > a {
  background-color: #000000;
  color: #ffffff;
  border-radius: 7px;
}

li > a {
  text-transform: capitalize;
  color: #00dea1;
  transition: background-color 0.2s, color 0.2s;
}

li a:hover {
  cursor: pointer;
}

li a:hover:not(.active) {
  background-color: #00dea1;
  color: #ffffff;
  border-radius: 7px;
}

i {
  padding: 4px 24px 0px 0px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}
