<div class="container">

  <img src="./../../../assets//logo.png" alt="" width="80px">

  <br>

  Bem vindo (a), João


  <mat-vertical-stepper [linear]="false" #stepper class="formulario">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Dados pessoais</ng-template>
        <app-dados-pessoais></app-dados-pessoais>
        <div>
          <button mat-raised-button color="accent" matStepperNext>Proximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Dados profissionais</ng-template>
        <app-dados-profissionais></app-dados-profissionais>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>Voltar</button>
          |
          <button mat-raised-button color="accent" matStepperNext>Proximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <app-cadastro-sistema></app-cadastro-sistema>



      <div>
        <button mat-raised-button color="accent" (click)="stepper.reset()">Revisar</button>
        |
        <button mat-raised-button color="accent" matStepperPrevious>Finalizar</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>





</div>