.container {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  margin-top: 55px;
}

.card-formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #ffffff00;
  align-items: center;
}

.example-header-image {
  background-image: url("https://cdn.dribbble.com/users/3162310/screenshots/9168149/image.gif");
  background-size: cover;
}

.example-form {
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

mat-slider {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 2px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.example-margin {
  margin: 0 10px;
}

.example-margin {
  margin: 8px 10px;
}

.container-input {
  display: flex;
  flex-direction: row;
}

.input-class {
  margin-right: 15px;
}

.container-nivel {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .container-input {
    flex-direction: column;
  }
}
