

  <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')"   mode="side">
      <div class="menu">

        <button mat-icon-button data-toggle="collapse" (click)="close('toggle button')">
          <mat-icon style="color: #606060; font-size: 25px;">menu</mat-icon>
        </button>

        <h1>CPB Studio</h1>
      </div>

      <div class="routes">
        <app-menu-rotas (click)="close('toggle button')" ></app-menu-rotas>
      </div>





    </mat-sidenav>

    <mat-toolbar  color="dark" >
      <button mat-icon-button data-toggle="collapse" (click)="sidenav.open()" *ngIf="!sidenav.opened"><mat-icon >menu</mat-icon></button>

      <div class="close-menu">
        <button matTooltip="Sair" (click)="logout()"  mat-mini-fab color="warn" > <i class="material-icons">power_settings_new</i></button>
      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>


  </mat-sidenav-container>


