.example-container {
  position: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #f5f7fa;
}

.mat-drawer {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 182px;
  z-index: 808;
  pointer-events: auto;
  outline: 0;
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffffff;
  transform: translate3d(-100%, 0, 0);
}

.routes {
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.botao-fechar {
  display: flex;
  flex-direction: row;
}

.botao {
  margin-left: auto;
  order: 2;
}

.close-menu {
  right: 78px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-left: 13px;
    color: #666666;
  }
}

.takaoLabs {
  position: absolute;
  bottom: 0;
  left: 34px;
}

.position-fixed {
  position: fixed;
}

.menu {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #f5f7fa;
  height: 60px;
  padding: 4px 9px 0px 12px;
  h1 {
    font-size: 16px;
    color: #2f2f2f;
    font-weight: 500;
    padding: 17px 0px 0px 0px;
  }
}

.toolbar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.input-pesquisa {
  font-size: 13px;
  line-height: 15px;
  margin-top: 13px;




  mat-form-field {
    min-width: 391px;

  }
}

::ng-deep {
  .mat-form-field-infix {
      border: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: none !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #F8F8F8;
    background-color: #F8F8F8;
    border-radius: 5px;
  }
}


