.example-container {
  position: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: #F5F7FA;
}

.mat-drawer {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 182px;
  z-index: 808;
  pointer-events: auto;
  outline: 0;
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffffff;
  transform: translate3d(-100%, 0, 0);
}

.routes {
  padding: 10px;
}

.logo{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.botao-fechar {
  display: flex;
  flex-direction: row;
}

.botao {
  margin-left: auto;
  order: 2;
}

.close-menu {
  position: absolute;
  right: 26px;
}

.takaoLabs {
  position: absolute;
  bottom: 0;
  left: 34px;
}

.position-fixed{
  position: fixed
}

.menu {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #F5F7FA;
  height: 60px;
  padding: 4px 9px 0px 12px;
  h1 {
    font-size: 16px;
    color: #2F2F2F;
    font-weight: 500;
    padding: 17px 0px 0px 0px;
  }
}
