<mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" selected>
        Fale sobre você <span class="material-icons">
            skateboarding
        </span>
    </mat-chip>
</mat-chip-list>

<br>

<mat-card-content>


    <p>
        <mat-form-field color="accent" appearance="outline" class="example-full-width">
            <mat-label>Sobre você</mat-label>
            <textarea matInput placeholder="Fale um pouco sobre você"></textarea>
        </mat-form-field>
        
    </p>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field color="accent" appearance="outline" class="example-full-width">
                    <mat-label>Recomende uma serie </mat-label>
                    <input matInput>
                </mat-form-field>
            </td>

            <td>
                <mat-form-field color="accent" appearance="outline" class="example-full-width">
                    <mat-label>E qual sua musica preferida </mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </td>
        </tr>
    </table>
 


</mat-card-content>