$backgorud: #f5f7fa;

.conatainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: 20px;
}

table {
  width: 100%;
}

.tablea-users {
  padding: 30px;
  width: 100%;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-titulo {
  h1 {
    display: flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2f2f2f;
  }
}

.example-form {
  min-width: 150px;
  max-width: 390px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.buttonAdd {
  background: #e9f3fe;
  border-radius: 5px;
  color: #415bb8;
  font-weight: 400;
}

.header-table {
  background-color: #2f2f2f00;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;
  color: #5f5e5e;
}

.table-user {
  background-color: #2f2f2f00;
  border: none;
}

.table-body {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #626262;
}

.mat-row .mat-cell {
  border-style: solid;
  border-color: #f5f7fa;
  border-radius: 2px;
  border-width: 0px 0px 4px 0px;
  background-color: #fff;
}

.paginacao {
  background-color: #2f2f2f00;
  margin-top: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #7a798b;
}

.text-apresentacao {
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    /* cor H1 */

    color: #233048;
  }

  p {
    /* corpo de texto */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* corpo de texto */

    color: #8d8d8d;
  }
}

.ordenacao {
  display: flex;
  padding: 2px 1px 4px 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8d8d8d;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;

  /* corpo de texto */

  color: #8d8d8d;

  i {
    padding: 3px 0px 0px 5px;
  }
}

.filtro {
  width: 180px;
  margin-top: 2px;

  h1 {
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #2f2f2f;
  }
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

.body-filter {
  margin-top: 37px;
  h2 {
    /* FILTRO - titulo */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #2f2f2f;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #707070;
  }
}

mat-divider {
  background-color: $backgorud;
  height: 1px;
}

.example-list-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #707070;
  padding-bottom: 5px;
}
.button-filter {
  background: #f8f8f8;
  border-radius: 5px;
  color: #787878;
  margin-right: 2px;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 62.1px;
  height: 24px;
  padding: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #787878;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;

  margin-bottom: 20px;
  margin-top: 15px;
}

.button-clen-filter {
  background: #f8f8f8;
  border-radius: 5px;
  color: #787878;
  margin-right: 2px;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  height: 24px;
  padding: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #787878;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 5px;

  margin-bottom: 20px;
  margin-top: 15px;
}
