table {
  width: 100%;
}

.tablea-users {
  padding: 30px;
}

.titulo {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.text-titulo{
  display: flex;
  flex-direction: column;
}

.example-form {
  min-width: 150px;
  max-width: 390px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

