<cdk-virtual-scroll-viewport style="height: 540px; width: 300px;" itemSize="10" class="position">
  <span *ngIf="previewData.imagem" >
    <img [src]="previewData.imagem" class="imagem-preview">

    <div class="data-preview">
      <span class="material-icons" style="font-size: 12px;">
        calendar_today
        </span>
      {{previewData.data}}

      <div class="tema-preview">
        {{previewData.tema}}
      </div>

    </div>

    <div class="body-news">
      <h1>{{previewData.titulo}}</h1>

      <div [innerHTML]="previewData.noticia">
      </div>

    </div>

    <button mat-raised-button color="warn" class="send" (click)="publicaNoticia()">
      Publicar
    </button>
  </span>

  <span *ngIf="!previewData.imagem" >
    <img src="./../../../../assets/startnews.png" alt="" srcset="" height="300px" style="position: relative;  top: 17px;">
  </span>

</cdk-virtual-scroll-viewport>
