.container {
    display: flex;
    justify-content: space-around;
}

.card-formulario {
    background-color: #ffffff00;
    
}


.example-header-image {
    background-image: url("https://cdn.dribbble.com/users/3162310/screenshots/9168149/image.gif");
    background-size: cover;
}

.example-form {
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

mat-slider {
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.jedai {
    position: absolute;
    right: 0;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #42424200;
}




.formulario {
    max-width: 500px;
    padding: 15px;
}

.text-finish {
    padding: 15px;
}